@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 2.2em;
    text-align: center;
    padding: 2%;
}

div {
    text-align: center;
}

div#container {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .363);
}

#horario {
    font-size: 1.5em;
    padding-top: 8px;
}

img {
    width: 250px;
    height: 225px;
    border-radius: 50%;
    background-size: cover;
    padding: 10px;
}

#foto {
    margin-left: 103px;
    padding: 7px;
}

footer {
    text-align: center;
    padding: 7px;
    color: white;
    font-size: 1.2em;
    font-style: italic;
}


